<template name="overview">
    <div class="row">
        {{#if profileUpdated}}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Your wallet</span>
                        <span class="info-box-number">
                            <small>NEO <span style="font-weight: normal">({{walletAmount.NEO.balance}})({{usdNeoPrice walletAmount.NEO.balance}})</span></small><br />
                            <small>GAS <span style="font-weight: normal">({{walletAmount.GAS.balance}})({{usdGasPrice walletAmount.GAS.balance}})</span></small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-black"><i class="fa neo-svg-icon"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Market NEO</span>
                        <span class="info-box-number">
                            <small>PRICE USD: <span style="font-weight: normal">{{currency neoPrice.price_usd}}</span></small><br />
                            <small>VOLUME 24H: <span style="font-weight: normal">{{neoPrice.[24h_volume_usd]}}</span></small><br />
                            <small>CHANGE 24H: <span style="font-weight: normal">{{neoPrice.percent_change_24h}}%</span></small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-black"><i class="fa neo-svg-icon"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Market GAS</span>
                        <span class="info-box-number">
                            <small>PRICE USD: <span style="font-weight: normal">{{currency gasPrice.price_usd}}</span></small><br />
                            <small>VOLUME 24H: <span style="font-weight: normal">{{gasPrice.[24h_volume_usd]}}</span></small><br />
                            <small>CHANGE 24H: <span style="font-weight: normal">{{gasPrice.percent_change_24h}}%</span></small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Pending invites</span>
                        <span class="info-box-number"><small>{{invitesPending}}</small></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-envelope-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Successful invites</span>
                        <span class="info-box-number"><small>{{invitesSucceeded}}</small></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-orange"><i class="fa fa-envelope-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Rejected invites</span>
                        <span class="info-box-number"><small>{{invitesRejected}}</small></span>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#unless hasRole 'admin'}}
            {{#unless profileUpdated}}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-user-circle-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Profile Status</span>
                            <span class="info-box-number"><small>Your profile hasn't been updated yet. Make sure to update your account details if you want to register as a developer</small></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
            {{/unless}}
        {{/unless}}
    </div>
</template>