<template name="portalContent">
    <div class="content-wrapper" style="min-height: 901px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Version 2.0</small>
            </h1>
            {{> portalBreadcrumbs}}
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            {{> yield 'content'}}
        </section>
        <!-- /.content -->
    </div>
</template>