<template name="login">
    <div class="row">
        <div class="col-xs-12 col-lg-4 col-lg-offset-4">
            <form>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="button" id="login" class="btn btn-primary btn-block btn-flat">Login with Slack</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</template>